{
  "swagger": "2.0",
  "info": {
    "title": "Octopus Server API",
    "version": "2026.1.9674"
  },
  "host": "deploy.octopus.app",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/users/access-token": {
      "post": {
        "tags": [
          "AccessTokens"
        ],
        "summary": "Creates an access token for the current user",
        "operationId": "generateAccessToken",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Contains the created access token.",
            "schema": {
              "$ref": "#/definitions/GenerateAccessTokenResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of accounts.",
        "description": "Lists accounts in the supplied Octopus Deploy Space in pages. The results will be sorted alphabetically by name.",
        "operationId": "getAccounts_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "accountType",
            "description": "The type of accounts to return.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "partialName",
            "description": "A partial account name used for a sub-string search.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of items to skip. Defaults to zero",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "take",
            "description": "Number of items to take. Defaults to 30",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Accounts",
            "schema": {
              "$ref": "#/definitions/AccountResourceCollection"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a new account - of the type defined by body content",
        "operationId": "createAccount_LegacyDefaultSpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateAccountCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/all": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of Accounts",
        "description": "Lists all of the accounts in the supplied Octopus Deploy Space. The results will be sorted alphabetically by name.",
        "operationId": "getAllAccounts_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested list of Accounts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountResource"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/azureenvironments": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the Azure Environments provided by the SDK",
        "description": "Lists the Azure Environments provided by the SDK",
        "operationId": "getAzureEnvironmentsList",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Modifies the account identified by the accoutId",
        "operationId": "modifyAccount_LegacyDefaultSpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifyAccountCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource returned from modifying an account",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an Account by ID",
        "operationId": "getAccountById_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Account",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an existing Account",
        "operationId": "deleteAccount_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the Account to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/{id}/pk": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieves the public key portion of the account's associated certificate, if present.",
        "operationId": "getAccountCertificate_LegacyDefaultSpace",
        "produces": [
          "application/x-x509-ca-cert",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/{id}/resourceGroups": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the Resource Groups associated with an Azure account.",
        "description": "Lists the Resource Groups associated with an Azure account.",
        "operationId": "getAzureResourceGroupsList_LegacyDefaultSpace",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounts/{id}/storageAccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the storage accounts associated with an Azure account.",
        "description": "Lists the storage accounts associated with an Azure account.",
        "operationId": "getAzureStorageAccountsList_LegacyDefaultSpace",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounts/{id}/usages": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists projects and deployments which are using an account.",
        "operationId": "getAccountUsage_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The projects and deployments which are using an account.",
            "schema": {
              "$ref": "#/definitions/AccountUsageResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/{id}/v1": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an existing Account",
        "operationId": "deleteAccountV1_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the Account to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the Account was deleted",
            "schema": {
              "$ref": "#/definitions/DeleteAccountResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/accounts/{id}/websites": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the websites associated with an Azure account.",
        "description": "Lists the websites associated with an Azure account.",
        "operationId": "getAzureWebSitesList_LegacyDefaultSpace",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounts/{id}/{resourceGroupName}/websites/{webSiteName}/slots": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the slots associated with an Azure Web Site.",
        "description": "Lists the slots associated with an Azure Web Site.",
        "operationId": "getAzureWebSitesSlotList_LegacyDefaultSpace",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "webSiteName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{spaceId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of accounts.",
        "description": "Lists accounts in the supplied Octopus Deploy Space in pages. The results will be sorted alphabetically by name.",
        "operationId": "getAccountsBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accountType",
            "description": "The type of accounts to return.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "partialName",
            "description": "A partial account name used for a sub-string search.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of items to skip. Defaults to zero",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "take",
            "description": "Number of items to take. Defaults to 30",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Accounts",
            "schema": {
              "$ref": "#/definitions/AccountResourceCollection"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a new account - of the type defined by body content",
        "operationId": "createAccountBySpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateAccountCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/all": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of Accounts",
        "description": "Lists all of the accounts in the supplied Octopus Deploy Space. The results will be sorted alphabetically by name.",
        "operationId": "getAllAccountsBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested list of Accounts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountResource"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/{accountId}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Modifies the account identified by the accoutId",
        "operationId": "modifyAccountBySpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifyAccountCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource returned from modifying an account",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an Account by ID",
        "operationId": "getAccountByIdBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Account",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an existing Account",
        "operationId": "deleteAccountBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the Account to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/pk": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieves the public key portion of the account's associated certificate, if present.",
        "operationId": "getAccountCertificateBySpace",
        "produces": [
          "application/x-x509-ca-cert",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/resourceGroups": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the Resource Groups associated with an Azure account.",
        "description": "Lists the Resource Groups associated with an Azure account.",
        "operationId": "getAzureResourceGroupsListBySpace",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/storageAccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the storage accounts associated with an Azure account.",
        "description": "Lists the storage accounts associated with an Azure account.",
        "operationId": "getAzureStorageAccountsListBySpace",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/usages": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists projects and deployments which are using an account.",
        "operationId": "getAccountUsageBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s)",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The projects and deployments which are using an account.",
            "schema": {
              "$ref": "#/definitions/AccountUsageResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/v1": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an existing Account",
        "operationId": "deleteAccountV1BySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the Account to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the Account was deleted",
            "schema": {
              "$ref": "#/definitions/DeleteAccountResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/websites": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the websites associated with an Azure account.",
        "description": "Lists the websites associated with an Azure account.",
        "operationId": "getAzureWebSitesListBySpace",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{spaceId}/accounts/{id}/{resourceGroupName}/websites/{webSiteName}/slots": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the slots associated with an Azure Web Site.",
        "description": "Lists the slots associated with an Azure Web Site.",
        "operationId": "getAzureWebSitesSlotListBySpace",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "webSiteName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of accounts.",
        "description": "Lists accounts in the supplied Octopus Deploy Space in pages. The results will be sorted alphabetically by name.",
        "operationId": "getAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accountType",
            "description": "The type of accounts to return.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "partialName",
            "description": "A partial account name used for a sub-string search.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of items to skip. Defaults to zero",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "take",
            "description": "Number of items to take. Defaults to 30",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Accounts",
            "schema": {
              "$ref": "#/definitions/AccountResourceCollection"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a new account - of the type defined by body content",
        "operationId": "createAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateAccountCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/all": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of Accounts",
        "description": "Lists all of the accounts in the supplied Octopus Deploy Space. The results will be sorted alphabetically by name.",
        "operationId": "getAllAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested list of Accounts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountResource"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{accountId}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Modifies the account identified by the accoutId",
        "operationId": "modifyAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifyAccountCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource returned from modifying an account",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an Account by ID",
        "operationId": "getAccountById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Account",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an existing Account",
        "operationId": "deleteAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the Account to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/pk": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieves the public key portion of the account's associated certificate, if present.",
        "operationId": "getAccountCertificate",
        "produces": [
          "application/x-x509-ca-cert",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/resourceGroups": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the Resource Groups associated with an Azure account.",
        "description": "Lists the Resource Groups associated with an Azure account.",
        "operationId": "getAzureResourceGroupsList",
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/storageAccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the storage accounts associated with an Azure account.",
        "description": "Lists the storage accounts associated with an Azure account.",
        "operationId": "getAzureStorageAccountsList",
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/usages": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists projects and deployments which are using an account.",
        "operationId": "getAccountUsage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The projects and deployments which are using an account.",
            "schema": {
              "$ref": "#/definitions/AccountUsageResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/v1": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an existing Account",
        "operationId": "deleteAccountV1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the Account to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the Account was deleted",
            "schema": {
              "$ref": "#/definitions/DeleteAccountResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/websites": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the websites associated with an Azure account.",
        "description": "Lists the websites associated with an Azure account.",
        "operationId": "getAzureWebSitesList",
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/spaces/{spaceIdentifier}/accounts/{id}/{resourceGroupName}/websites/{webSiteName}/slots": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lists the slots associated with an Azure Web Site.",
        "description": "Lists the slots associated with an Azure Web Site.",
        "operationId": "getAzureWebSitesSlotList",
        "parameters": [
          {
            "in": "path",
            "name": "spaceIdentifier",
            "description": "Identifier (ID or slug) of the space",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "webSiteName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/actiontemplates": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get a list of Action Templates",
        "description": "Lists all of the Action Templates in the supplied Octopus Deploy Space. The results will be sorted alphabetically by name.",
        "operationId": "getActionTemplates_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "IDs of the action templates to fetch.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "isCommunityActionTemplate",
            "description": "Filters the results based on whether the action is a community template.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "partialName",
            "description": "A partial or complete name to search on. This will perform a \\\"contains\\\" style match against the supplied name or name-fragment.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of items to skip. Defaults to zero",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "take",
            "description": "Number of items to take. Defaults to 30",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Templates",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResourceCollection"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Create an Action Template.",
        "operationId": "createActionTemplate_LegacyDefaultSpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateActionTemplateCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/all": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get all Action Templates",
        "description": "Lists the all of the action templates in the supplied Octopus Deploy Space. The results will be sorted by name.",
        "operationId": "getAllActionTemplates_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested Action Templates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/categories": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get a list of Action Template categories",
        "operationId": "getActionTemplateCategories_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template categories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateCategoryResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/search": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Lists all available action templates including built-in, custom and community contributed step templates.",
        "description": "Lists all of the Action Templates in the supplied Octopus Deploy Space that fit the search criteria.",
        "operationId": "searchActionTemplates_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The found Action Templates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateSearchResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get an Action Template by ID",
        "operationId": "getActionTemplateById_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the ActionTemplate to load",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "put": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Modifies an existing action template.",
        "operationId": "modifyActionTemplate_LegacyDefaultSpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the existing Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifyActionTemplateCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the Action Template was modified, including the updated template.",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actionTemplates/{id}": {
      "delete": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Deletes an existing Action Template and all its versions.",
        "operationId": "deleteActionTemplateById_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id of the Action Template to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/actionsUpdate": {
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Updates deployment and runbook actions to a specific version of the action template",
        "operationId": "updateActionTemplateActions_LegacyDefaultSpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateActionTemplateActionsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ActionUpdateResultResources with details of the results of the update returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionUpdateResultResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/actionsUpdate/bulk": {
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Creates a server task to update deployment and runbook actions to a specific version of the action template",
        "operationId": "bulkUpdateActionTemplateActions_LegacyDefaultSpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BulkUpdateActionTemplateActionsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the results of the update of the actions updated to match the action template.",
            "schema": {
              "$ref": "#/definitions/BulkUpdateActionTemplateActionsResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/logo": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Gets the logo associated with the latest version of action template.",
        "operationId": "getActionTemplateLogo_LegacyDefaultSpace",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Action Type or ID of the action type logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Updates the logo associated with the latest version of the action template.",
        "operationId": "modifyActionTemplateLogo_LegacyDefaultSpace",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the action template for which to set the logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the logo was updated",
            "schema": {
              "$ref": "#/definitions/ModifyActionTemplateLogoResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "put": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Updates the logo associated with the latest version of the action template.",
        "operationId": "modifyActionTemplateLogoUsingPut_LegacyDefaultSpace",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the action template for which to set the logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the logo was updated",
            "schema": {
              "$ref": "#/definitions/ModifyActionTemplateLogoResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/usage": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Gets usages for an Action Template.",
        "description": "Gets a list of all steps/deployment processes that use a given action template.",
        "operationId": "getActionTemplateUsages_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the resource",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "branch",
            "description": "Optionally filter usages associated with a config as code branch",
            "type": "string"
          },
          {
            "in": "query",
            "name": "process",
            "description": "Optionally filter by process type",
            "type": "string",
            "enum": [
              "Deployment",
              "Runbook"
            ]
          },
          {
            "in": "query",
            "name": "project",
            "description": "Optionally filter version controlled usages by project",
            "type": "string"
          },
          {
            "in": "query",
            "name": "withUpdates",
            "description": "Optionally filter for only version controlled usages with updates",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template usages",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateUsageResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/v1": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get an Action Template by ID",
        "operationId": "getActionTemplateByIdV1_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the ActionTemplate to load",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template",
            "schema": {
              "$ref": "#/definitions/GetActionTemplateByIdResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actionTemplates/{id}/v1": {
      "delete": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Deletes an existing Action Template and all its versions.",
        "operationId": "deleteActionTemplateByIdV1_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id of the Action Template to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the requested Action Template has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteActionTemplateByIdResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/versions": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get all versions of an Action Template.",
        "operationId": "getAllActionTemplateVersions_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the Action Template.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of action template resources for each version.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{id}/versions/{version}": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get a specific version of an Action Template.",
        "operationId": "getActionTemplateVersion_LegacyDefaultSpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "The version number of the Action Template.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The action template resource.",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/actiontemplates/{typeOrId}/versions/{version}/logo": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Gets the logo associated with specific version of the action template.",
        "operationId": "getActionTemplateVersionLogo_LegacyDefaultSpace",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "typeOrId",
            "description": "Action Type or ID of the action type logo",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "Version of the action type logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get a list of Action Templates",
        "description": "Lists all of the Action Templates in the supplied Octopus Deploy Space. The results will be sorted alphabetically by name.",
        "operationId": "getActionTemplatesBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ids",
            "description": "IDs of the action templates to fetch.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "isCommunityActionTemplate",
            "description": "Filters the results based on whether the action is a community template.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "partialName",
            "description": "A partial or complete name to search on. This will perform a \\\"contains\\\" style match against the supplied name or name-fragment.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of items to skip. Defaults to zero",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "take",
            "description": "Number of items to take. Defaults to 30",
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Templates",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResourceCollection"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Create an Action Template.",
        "operationId": "createActionTemplateBySpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The id of the Space that contains the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateActionTemplateCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/all": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get all Action Templates",
        "description": "Lists the all of the action templates in the supplied Octopus Deploy Space. The results will be sorted by name.",
        "operationId": "getAllActionTemplatesBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Templates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/categories": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get a list of Action Template categories",
        "operationId": "getActionTemplateCategoriesBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template categories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateCategoryResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/search": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Lists all available action templates including built-in, custom and community contributed step templates.",
        "description": "Lists all of the Action Templates in the supplied Octopus Deploy Space that fit the search criteria.",
        "operationId": "searchActionTemplatesBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The found Action Templates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateSearchResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/{id}": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get an Action Template by ID",
        "operationId": "getActionTemplateByIdBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the ActionTemplate to load",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "put": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Modifies an existing action template.",
        "operationId": "modifyActionTemplateBySpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The id of the Space that contains the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id of the existing Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifyActionTemplateCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the Action Template was modified, including the updated template.",
            "schema": {
              "$ref": "#/definitions/ActionTemplateResource"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actionTemplates/{id}": {
      "delete": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Deletes an existing Action Template and all its versions.",
        "operationId": "deleteActionTemplateByIdBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of the Action Template to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/{id}/actionsUpdate": {
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Updates deployment and runbook actions to a specific version of the action template",
        "operationId": "updateActionTemplateActionsBySpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the Space containing the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateActionTemplateActionsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ActionUpdateResultResources with details of the results of the update returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionUpdateResultResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/{id}/actionsUpdate/bulk": {
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Creates a server task to update deployment and runbook actions to a specific version of the action template",
        "operationId": "bulkUpdateActionTemplateActionsBySpace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the Space containing the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the Action Template.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BulkUpdateActionTemplateActionsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the results of the update of the actions updated to match the action template.",
            "schema": {
              "$ref": "#/definitions/BulkUpdateActionTemplateActionsResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/{id}/logo": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Gets the logo associated with the latest version of action template.",
        "operationId": "getActionTemplateLogoBySpace",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Action Type or ID of the action type logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "post": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Updates the logo associated with the latest version of the action template.",
        "operationId": "modifyActionTemplateLogoBySpace",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the action template for which to set the logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the logo was updated",
            "schema": {
              "$ref": "#/definitions/ModifyActionTemplateLogoResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      },
      "put": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Updates the logo associated with the latest version of the action template.",
        "operationId": "modifyActionTemplateLogoBySpaceUsingPut",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the action template for which to set the logo",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the logo was updated",
            "schema": {
              "$ref": "#/definitions/ModifyActionTemplateLogoResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/{id}/usage": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Gets usages for an Action Template.",
        "description": "Gets a list of all steps/deployment processes that use a given action template.",
        "operationId": "getActionTemplateUsagesBySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the resource",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "branch",
            "description": "Optionally filter usages associated with a config as code branch",
            "type": "string"
          },
          {
            "in": "query",
            "name": "process",
            "description": "Optionally filter by process type",
            "type": "string",
            "enum": [
              "Deployment",
              "Runbook"
            ]
          },
          {
            "in": "query",
            "name": "project",
            "description": "Optionally filter version controlled usages by project",
            "type": "string"
          },
          {
            "in": "query",
            "name": "withUpdates",
            "description": "Optionally filter for only version controlled usages with updates",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template usages",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionTemplateUsageResource"
              }
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actiontemplates/{id}/v1": {
      "get": {
        "tags": [
          "ActionTemplates"
        ],
        "summary": "Get an Action Template by ID",
        "operationId": "getActionTemplateByIdV1BySpace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "The ID of the space containing the resource(s).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the ActionTemplate to load",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Action Template",
            "schema": {
              "$ref": "#/definitions/GetActionTemplateByIdResponse"
            }
          },
          "400": {
            "description": "Bad request. Either the payload was not structurally valid or business rules did not permit the operation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. One or more of the entities involved in the operation was not found."
          }
        }
      }
    },
    "/{spaceId}/actionTemplates/{id}/v1": {
[...]
