---
page_title: "Create a new Version-Controlled Project"
subcategory: "Examples"
---

# Create a new Version-Controlled Project

This example show how to configure new version-controlled Project and let application team manage it with OCL

## Existing ecosystem
These resources are the "pre-requisites" and assumed already exists
{{ tffile "examples/create-version-controlled-project/existing-ecosystem.tf" }}

## Version-Controlled Project
{{ tffile "examples/create-version-controlled-project/main.tf" }}
