---
page_title: "Sync step templates across spaces"
subcategory: "Examples"
---

# Sync step templates across spaces
This example show how to synchronise configuration between step templates defined in different spaces

## main.tf
{{ tffile "examples/sync-step-templates-across-spaces/main.tf" }}

