---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> This resource is the successor to the original `octopusdeploy_deployment_process` resource, which suffered from numerous problems including: state drift, data inconsistency when reordering or inserting steps, and lack of awareness of Version-Controlled projects.

### Remarks

The `octopusdeploy_process` resource is used in conjunction with a series of other building-block resources to form a full process. They are deliberately designed with dependencies between them so that the deployment process will be incrementally "built up" in Octopus with a series of incremental updates. You can use only the building blocks you need for your process (i.e. if your process doesn't involve Child Steps, you don't need to deal with the `octopusdeploy_process_child_step` resource.)

At a minimum, to get a functional deployment process, you will need:

1. A Project (`octopusdeploy_project`)
1. A Deployment Process referencing the Project (`octopusdeploy_process`)
1. One or more Steps referencing the Deployment Process (`octopusdeploy_process_step`)

The `octopusdeploy_process_step_order` resource isn't strictly required, but it's highly recommended. If you need to change the order of steps in your process, or insert a new step within an existing process, you'll need the Step Order defined first.

Without a defined Step Order, the Steps will be added to the process in the order they're applied by Terraform. This is usually the order they appear in your HCL, but may not always be deterministic. 

## Example Usage
~> See the docs for `octopusdeploy_process_step`, `octopusdeploy_process_steps_order`, `octopusdeploy_process_child_step` and `octopusdeploy_process_child_steps_order` for more detailed examples.

### Deployment Process
{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

### Runbook Process
{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-runbook.tf") }}

### Using Process Templates
Process Templates can be consumed in your process using `octopusdeploy_process_step` with `type = "Octopus.ProcessTemplate"`. Process template parameters are configured through `execution_properties`.

Process template specific properties of `"Octopus.Action.ProcessTemplate.Reference.Slug"` and `"Octopus.Action.ProcessTemplate.Reference.VersionMask"` are required to be set within `execution_properties` to specify which process template and version to use.

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-process-template-usage.tf") }}

#### Required Parameter Validation
~> When a new required parameter is added to a process template, any modifications to the process will fail validation until that parameter is configured - even if you're only modifying unrelated steps.

This typically occurs when your process template usage is set to auto-accept minor or patch version updates and a new required parameter gets added. While this goes against recommended practices (adding required parameters should be a major version change), you may encounter validation errors like:

```
╷
│ Error: unable to update process step
│
│   with octopusdeploy_process_step.deploy_microservice,
│   on example.tf line 10, in resource "octopusdeploy_process_step" "deploy_microservice":
│   10: resource "octopusdeploy_process_step" "deploy_microservice" {
│
│ Octopus API error: There was a problem with your request. [Parameter 'NewRequiredParam' in step 'Run process template - microservice template' is required]
╵
```

To resolve this error, you'll need to add the missing required parameter to your process template step's `execution_properties`, even if you weren't intending to modify that step.

For more information on process template versioning best practices, see the [Octopus Deploy Process Templates documentation](https://octopus.com/docs/platform-hub/process-templates/best-practices).

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
