---
page_title: "Sync scaffolding data across air-gap instances"
subcategory: "Examples"
---

# Sync scaffolding data across air-gap instances
This example show how to synchronise configurations between different Octopus Deploy instances

## main.tf
{{ tffile "examples/sync-data-across-air-gap-instances/main.tf" }}

